@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

:root {
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #F5F5DC;
    --navbg: #4B2E2A;
    --text-color: #fff;
    --border: .1rem solid rgba(255, 255, 255, .3);
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: 0.25s linear;
}

html {
    font-size: 62%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

body {
    background: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.complete-pay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 4rem;
}

.complete-pay h1 {
    font-size: 4rem;
}

.initiate {
    margin-left: 2rem;
    display: inline-block;
    padding: 10px 20px;
    background-color: green;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
    margin-top: 2rem;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    cursor: pointer;
}

.fail {
    margin-left: 2rem;
    display: inline-block;
    padding: 10px 20px;
    background-color: red;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
    margin-top: 2rem;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    cursor: pointer;
}

.initiate:hover {
    background: rgb(1, 105, 1);
}

.fail:hover {
    background: rgb(196, 0, 0);
}


#back-button {
    position: absolute;
    top: 10px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
    margin: 0; /* Remove any default margin */
    padding: 10px 20px; /* Ensure padding is appropriate */
    cursor: pointer;
}